header {
  height: 100px;
  width: 800px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.strike {
  color: blueviolet;
  padding-top: 30px;
  margin-left: 250px;
  align-items: center;
}
.top {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#snackbar {
  width: 300px;
  height: 50px;
  margin-left:200px;
}